.background-color{
    background-color: #E5E5E5;
    width: 100%;
}

.content-simbol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.simbolo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25.875rem;
    margin-bottom: 5.375rem;
}

.section-one-title{
    text-align: center;
    color: #000;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.button-section-one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-position{
    margin-bottom: 9.75rem;
}