<!-- SECTION ONE -->
<div>

    <!-- SECTION ONE RECTANGULO -->
    <div class="background-color">
        <!-- SECTION ONE SIMBOL -->
        <div class="content-simbol">
            <svg class="simbolo" width="132" height="132" viewBox="0 0 132 132" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="66" cy="66" r="66" fill="#18A0FB" />
                <path
                    d="M90.5 62.9019C92.5 64.0566 92.5 66.9434 90.5 68.0981L55.25 88.4497C53.25 89.6044 50.75 88.161 50.75 85.8516V45.1484C50.75 42.839 53.25 41.3956 55.25 42.5503L90.5 62.9019Z"
                    fill="white" />
            </svg>
        </div>

        <!-- END SECTION ONE SIMBOL -->

        <!-- SECTION ONE TITLE -->
        <div class="section-one-title">
            The largest community of photo enthusiasts
        </div>
        <!-- END SECTION ONE TITLE -->

        <!-- BUTTON SECTION ONE -->

        <div class="button-section-one">
            <button class="button-secundary button-position">
                Join Today
            </button>
        </div>

        <!-- END BUTTON SECTION ONE -->

    </div>
    <!-- END SECTION ONE RECTANGULO -->

</div>
<!-- END SECTION ONE -->


<!-- ************************************************************************************* -->


<!-- SECTION TWO -->
<div class="content-max">

    <!-- SECTION TWO TITLE -->
    <div class="section-two-title">
        Snap photos and share like never before
    </div>
    <!-- END SECTION TWO TITLE -->

    <!-- ********** -->

    <div class="section-two-container">
        <div class="section-two-container__bloc">
            <!-- SECTION TWO SUBTITLE -->
            <div class="section-two-subtitle">
                Sed ut perspiciatis
            </div>
            <!-- END SECTION TWO SUBTITLE -->

            <!-- SECTION TWO TEXT -->
            <div class="section-two-text">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
            </div>
            <!-- END SECTION TWO TEXT -->

            <button class="button-primary">
                Learn more
            </button>
        </div>
        <!-- *************** -->
        <div class="section-two-container__bloc">
            <!-- SECTION TWO SUBTITLE -->
            <div class="section-two-subtitle">
                Lorem ipsum dolor
            </div>
            <!-- END SECTION TWO SUBTITLE -->

            <!-- SECTION TWO TEXT -->
            <div class="section-two-text">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
            </div>
            <!-- END SECTION TWO TEXT -->

            <button class="button-primary">
                Learn more
            </button>

        </div>
    </div>


    <!-- ********** -->

    <div class="section-two-container">
        <div class="section-two-container__bloc">
            <!-- SECTION TWO SUBTITLE -->
            <div class="section-two-subtitle">
                Nemo enim ipsam
            </div>
            <!-- END SECTION TWO SUBTITLE -->

            <!-- SECTION TWO TEXT -->
            <div class="section-two-text">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
            </div>
            <!-- END SECTION TWO TEXT -->

            <button class="button-primary">
                Learn more
            </button>
        </div>
        <!-- *************** -->
        <div class="section-two-container__bloc">
            <!-- SECTION TWO SUBTITLE -->
            <div class="section-two-subtitle">
                Tempur incidiunt
            </div>
            <!-- END SECTION TWO SUBTITLE -->

            <!-- SECTION TWO TEXT -->
            <div class="section-two-text">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.
            </div>
            <!-- END SECTION TWO TEXT -->

            <button class="button-primary">
                Learn more
            </button>

        </div>
    </div>


</div>
<!-- END SECTION TWO -->


<!-- ************************************************* -->


<!-- SECTION TREE -->
<div class="content-max position-flex">

    <!-- SECTION TREE BACKGROUND -->
    <div class="background">
    </div>
    <!-- END SECTION TREE BACKGROUND -->

    <!-- SECTION TREE TEXT -->
    <div class="section-tree">
        <div>
            <div class="section-tree-title">
                Sed ut perspiciatis unde omnis
            </div>

            <div class="section-tree-text">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
            </div>
        </div>
    </div>
    <!-- END SECTION TREE TEXT -->
</div>
<!-- END SECTION TREE -->


<!-- ********************************** -->


<!-- SECTION FOUR -->

<div class="found">

    <div>

        <!-- SECTION TREE TEXT -->

        <div class="content-max position-flex">

            <div class="section-four">
                <div class="section-four-tt">
                    <div class="section-four-title">
                        Sed ut perspiciatis unde omnis
                    </div>

                    <div class="section-four-text">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur
                        magni
                        dolores
                        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
                    </div>
                </div>
                <!-- SECTION FOUR BACKGROUND -->
                <div class="background-a">
                </div>
                <!-- END SECTION FOUR BACKGROUND  -->

            </div>


        </div>

    </div>
</div>

<!-- END SECTION FOUR -->


<!-- SECTION FIVE -->
<div class="content-max section-five">


    <div class="section-five-title">
        You’re in good company
    </div>

    <div class="section-five-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    </div>

    <div class="section-five-found-color">

        
            <div class="found-color">
            </div>
        

        
            <div class="found-color">
            </div>


        
            <div class="found-color">
            </div>

        
            <div class="found-color">
            </div>
        

    </div>

    <!-- ********************* -->

    <div class="section-five-found-color">

        
            <div class="found-color">
            </div>
        


        
            <div class="found-color">
            </div>
        

        
            <div class="found-color">
            </div>
        

    
            <div class="found-color">
            </div>
        

    </div>









</div>
<!-- END SECTION FIVE -->